
@import url('https://api.fontshare.com/v2/css?f[]=general-sans@400,500,700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html{
    font-family: 'General Sans', sans-serif;
    height: 100%;
}


body{
    min-height: 100%;
    text-align: center;
}


.grid-container{
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "aside header header"
        "aside main main"
        "aside footer footer";
    grid-template-columns: 270px 1fr;
    grid-template-rows: 80px auto 80px;
}


.header{
    display: grid;
    grid-area: header;
    background-color: #EBECF2;
}


.main{
    display: grid;
    grid-area: main;
    background-color: #EBECF2;
}


.footer{
    display: grid;
    grid-area: footer;
    background-color: #EBECF2;
}


.aside{
    display: grid;
    grid-area: aside;
    background-color: #fff;
}


.aside-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 120px){
    .grid-container {
        grid-template-areas: 
            "aside header header"
            "aside main main"
            "aside footer footer";
        grid-template-rows: 80px auto 80px;
    }
}



.sidebar-button{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: white;
  border: #EBECF2;
  border-radius: 8px;
  cursor: pointer;
  transition: border 0.3s ease;
  width: 100%; /* opcional: ocupar todo el ancho del menú */

}

.sidebar-button:hover {
  border: #EBECF2; /* borde rojo al pasar el mouse */
  background-color: #EBECF2; /* opcional: fondo tenue rojizo al hover */
}

.sidebarImg{
    width: 24px;
    height: 24px;
}


